@media only screen and (max-width: 600px) {
  .content-wrapper {
    align-items: center;
  }

  h1 {
    font-size: 1.75rem;
  }

  .items {
    align-items: center;
  }

  .sub-content {
    justify-content: end;

    &-desc {
      display: none;
    }
  }

  #box {
    width: 120px;
    height: 120px;

    &-grey {
      @extend #box;
      top: 160px;
      right: 56px;
    }

    &-blue {
      @extend #box;
      left: 56px;
      top: 248px;
    }

    &-x {
      @extend #box;
      display: block;
      top: 232px;
      right: calc(50% - 96px);
      width: 88px;
      height: 88px;
    }
  }

  .items {
    margin: 75% 0 0 0;
  }
}
