@use '@variables' as var;

.hero-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  justify-content: space-between;
  padding: 80px 0 24px;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 68px;
  text-align: start;
  white-space: nowrap;
}

#box {
  width: 264px;
  height: 264px;
  position: absolute;

  &-grey {
    @extend #box;
    background-color: rgba(var.$grey, 0.3);
    right: 0;
    top: 64px;
  }

  &-blue {
    @extend #box;
    background-color: rgba(var.$sky, 0.1);
    right: 96px;
    top: 224px;
  }

  &-x {
    @extend #box;
    right: 96px;
    bottom: 240px;
    width: 172px;
    height: 172px;
  }
}

.items {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sub-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;

  &-desc {
    font-size: 1.75rem;
  }

  &-nephren {
    display: flex;
    flex-direction: column;
    color: var.$sky;

    &-bar-code {
      font-family: 'Libre Barcode 128', sans-serif;
      font-size: 52px;
      line-height: 0.2;
    }

    &-desc {
      letter-spacing: 0.25rem;
      font-size: 20px;
    }
  }
}