@use '@variables' as var;

.hero-wrapper {
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - 196px);
  justify-content: space-between;
  padding: 80px 0 24px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 68px;
  text-align: start;
  white-space: nowrap;
  color: var.$midnight;
}

.box {
  width: 264px;
  height: 264px;
  position: absolute;

  &-grey {
    width: 264px;
    height: 264px;
    position: absolute;
    background-color: rgba(var.$grey, 0.3);
    right: 0;
    top: 64px;
  }

  &-blue {
    width: 264px;
    height: 264px;
    position: absolute;
    background-color: rgba(var.$sky, 0.1);
    right: 96px;
    top: 224px;
  }

  &-x {
    width: 264px;
    height: 264px;
    position: absolute;
    right: 96px;
    bottom: 240px;
    width: 172px;
    height: 172px;
  }
}

.items {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sub-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;

  &-desc {
    font-size: 1.75rem;
    color: var.$midnight;
  }

  &-nephren {
    display: flex;
    flex-direction: column;
    color: var.$sky;

    &-bar-code {
      font-family: 'Libre Barcode 128', sans-serif;
      font-size: 52px;
      line-height: 0.2;
    }

    &-desc {
      letter-spacing: 0.25rem;
      font-size: 20px;
    }
  }
}

// tablet

@media only screen and (max-width: 1200px) {
  .box {
    width: 240px;
    height: 240px;

    &-grey {
      width: 240px;
      height: 240px;
    }

    &-blue {
      width: 240px;
      height: 240px;
      right: 160px;
    }

    &-x {
      width: 240px;
      height: 240px;
      right: calc(50% - 76px);
      bottom: 10%;
      width: 152px;
      height: 152px;
    }
  }

  .title {
    font-size: 3rem;
  }

  .hero-wrapper {
    margin: 0 16px;
    padding: 80px 56px 24px;
  }

  .sub-content {
    &-desc {
      font-size: 1.5rem;
    }

    &-nephren {
      &-bar-code {
        font-size: 3rem;
        line-height: 0.15;
      }

      &-desc {
        font-size: 1rem;
      }
    }
  }
}

//tablet portrait

@media only screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .box {
    width: 144px;
    height: 144px;

    &-blue {
      right: 72px;
      top: 136px;
    }

    &-x {
      display: none;
    }
  }

  .sub-content {
    &-desc {
      font-size: 1.25rem;
    }

    &-nephren {
      &-bar-code {
        font-size: 2rem;
        line-height: 0.05;
      }

      &-desc {
        font-size: 0.75rem;
      }
    }
  }
}

// phone

@media only screen and (max-width: 600px) {
  .hero-wrapper {
    align-items: center;
    padding: 104px 0 32px;
    height: calc(100vh - 32px);
  }

  .title {
    font-size: 1.75rem;
  }

  .items {
    align-items: center;
  }

  .sub-content {
    justify-content: end;

    &-desc {
      display: none;
    }
  }

  .box {
    width: 120px;
    height: 120px;

    &-grey {
      width: 120px;
      height: 120px;
      top: 264px;
      right: 56px;
    }

    &-blue {
      width: 120px;
      height: 120px;
      left: 56px;
      top: 352px;
    }

    &-x {
      width: 120px;
      height: 120px;
      display: block;
      top: 336px;
      right: calc(50% - 96px);
      width: 88px;
      height: 88px;
    }
  }

  .items {
    margin: 75% 0 0 0;
  }
}
