@use "@variables" as var;

body {
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 16.67vh 0;
  height: calc(100% - 2 * 180px);
  justify-content: space-between;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 68px;
  text-align: start;

}

#box {
  width: 320px;
  height: 320px;
  position: absolute;

  &-grey {
    @extend #box;
    background-color: rgba(var.$grey, 0.3);
    right: 142px;
    top: 180px;
  }

  &-blue {
    @extend #box;
    background-color: rgba(var.$sky, 0.1);
    right: 236px;
    top: 269px;
  }

  &-x {
    @extend #box;
    right: 525px;
    top: 541px;
    width: auto;
    height: auto;
  }
}

.items {
  margin-top: 25vh;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sub-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: end;

  &-desc {
    font-size: 28px;
  }


  &-nephren {
    display: flex;
    flex-direction: column;
    color: var.$sky;
    font-size: 1.5rem;

    &-bar-code {
      font-family: "Libre Barcode 128", sans-serif;
      font-size: 52px;
      line-height: 0.2;
    }

    &-desc {
      letter-spacing: 0.25rem;
      font-size: 20px;
    }
  }
}



