@use '@variables' as var;

.portofolio {

  &__wrapper {
    height: calc(100vh - 196px);
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    h2 {
      font-size: 1rem;
      color: var.$sky;
      font-weight: 100;
      padding: 0.25rem;
      background-color: rgba(var.$grey, 0.25);
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 48px;
    background-color: transparent;

    img {
      width: 60vw;
      height: auto;
      z-index: 0;
    }
  }

  &__detail {
    position: absolute;
    z-index: 1;
    background-color: var.$white;
    display: block;
    flex-direction: row;
    &__desc {
      display: block;
      span {
        display: block;
        background-color: red;
        height: 75vh;
        width: 20px;
        transform: skew(-20deg);
      }
    }
  }

}
