@media only screen and (max-width: 1200px) {
  .cross-lines {
    &-left {
      @extend .cross-lines;
      left: 56px;
    }

    &-right {
      @extend .cross-lines;
      right: 56px;
    }
  }

  .cross-line {
    &-long {
      right: 88px;
    }
  }
}
