@use '@variables' as var;

.cross-lines {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &-left {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 124px;
    left: 96px;
  }

  &-right {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 96px;
    right: 96px;
  }
}

.cross-line {
  width: 36px;
  height: 12px;
  background-color: var.$grey;
  transform: skewY(-45deg);

  @keyframes fading {
    0% {
      opacity: 0.05;
    }
    100% {
      opacity: 1;
    }
  }

  &-red {
    @extend .cross-line;
    background-color: var.$red;
    animation: fading 0.1s ease-out forwards;
    -webkit-animation: fading 0.1s ease-out forwards;
    -o-animation: fading 0.1s ease-out forwards;
    -moz-animation: fading 0.1s ease-out forwards;
  }

  @keyframes extending-line-h {
    0% {
      height: 0;
    }
    100% {
      height: calc(100vh - 400px);
    }
  }

  &-long {
    position: fixed;
    top: 312px;
    right: 128px;
    width: 3px;
    height: 0;
    animation: extending-line-h 1s cubic-bezier(0.21, 0.52, 0.19, 0.83) forwards;
    -webkit-animation: extending-line-h 1s cubic-bezier(0.21, 0.52, 0.19, 0.83)
      forwards;
    -o-animation: extending-line-h 1s cubic-bezier(0.21, 0.52, 0.19, 0.83)
      forwards;
    -moz-animation: extending-line-h 1s cubic-bezier(0.21, 0.52, 0.19, 0.83)
      forwards;
    transform-origin: top;
    background-color: var.$grey;
  }
}

//table

@media only screen and (max-width: 1200px) {
  .cross-lines {
    &-left {
      left: 56px;
    }

    &-right {
      right: 56px;
    }
  }

  .cross-line {
    &-long {
      right: 88px;
    }
  }
}

//phone

@media only screen and (max-width: 600px) {
  .cross-line {
    width: 24px;
    height: 8px;

    @keyframes extending-line-h {
      100% {
        height: calc(100% - 200px);
      }
    }

    &-long {
      top: 192px;
      right: 30px;
    }

    &-red {
      width: 24px;
      height: 8px;
    }
  }

  .cross-lines {
    &-left {
      left: 8px;
      top: 40px;
    }

    &-right {
      right: 8px;
      top: 16px;
    }
  }

  .corner-bottom-left {
    left: 8px;
    bottom: -16px;

    &-path {
      d: path('M152 120 H56 L1.28 72 V0');
    }
  }
}
