@media only screen and (max-width: 1200px) {
  .cross-lines {
    &-right {
      @extend .cross-lines;
      right: 56px;
    }
  }

  .cross-line {
    &-long {
      right: 88px;
    }
  }

  @keyframes extending-line-w {
    100% {
      width: 20vw;
    }
  }
}
