@use '@variables' as var;

@media only screen and (max-width: 600px) {
  .cross-line {
    width: 24px;
    height: 8px;

    @keyframes extending-line-h {
      100% {
        height: calc(100% - 200px);
      }
    }

    &-long {
      top: 192px;
      right: 24px;
    }

    &-red {
      @extend .cross-line;
    }
  }

  .cross-lines {
    &-right {
      @extend .cross-lines;
      right: 2px;
      top: 16px;
    }
  }
}
