.landing-page {
  height: calc(100vh - 192px);
  overflow: hidden;
}

.snap-container {
  height: calc(100vh - 192px);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.snap-section {
  height: calc(100vh - 192px);
  scroll-snap-align: start;
}