@media only screen and (max-width: 600px) {
  .header__content {
    padding-right: 16px;
    gap: 32px;
  }

  header {
    width: calc(100% - 56px);
  }

  .header__back {
    padding-left: 16px;
  }
}