@use "@variables" as var;

.item {
  display: flex;
  align-items: start;
  justify-content: start;
}

.point {
  display: block;
  width: 18px;
  height: 18px;
  background-color: var.$red;
  margin-right: 10px;

  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 0.8;
  }
}

.red {
  background-color: var.$red;
}

.sky {
  background-color: var.$sky;
}

.dark-grey {
  background-color: var.$dark-grey;
}


