@use '@variables' as var;

.red {
  background-color: var.$red;
}

.sky {
  background-color: var.$sky;
}

.dark-grey {
  background-color: var.$dark-grey;
}

.anchor {
  text-decoration: none;
  color: var.$dark-grey;
}

.item {
  display: flex;
  align-items: start;
  justify-content: start;
}

.point {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  overflow: hidden;

  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 0.8;
    color: var.$midnight;
  }
}

.point::before {
  content: '';
  position: absolute;
  background: var.$bg;
  filter: blur(2px);
  opacity: 0.9;
  height: 24px;
  width: 4px;
  transition: 0.7s;
  transform: rotate(-20deg) translate(-16px);
}

.item:hover .point::before {
  transform: rotate(-20deg) translate(16px, -8px);
}

// tablet portrait
@media only screen and (max-width: 768px) {
  .point {
    width: 12px;
    height: 12px;
    margin-right: 8px;

    &-text {
      font-size: 16px;
      line-height: 0.8;
    }
  }
}

// phone

@media only screen and (max-width: 600px) {
  .point {
    display: none;
  }

  .red-txt {
    color: var.$red;
  }

  .sky-txt {
    color: var.$sky;
  }

  .dark-grey-txt {
    color: var.$dark-grey;
  }
}
