@use "@variables" as var;

a {
  text-decoration: none;
  color: var.$dark-grey;
}

.item {
  display: flex;
  align-items: start;
  justify-content: start;
}

.point {
  display: block;
  width: 18px;
  height: 18px;
  background-color: var.$red;
  margin-right: 10px;
  overflow: hidden;

  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 0.8;
  }
}

.point::before {
  content: '';
  position: absolute;
  background: var.$bg;
  filter: blur(2px);
  opacity: 0.9;
  height: 24px;
  width: 4px;
  transition: 0.7s;
  transform: rotate(-20deg) translate(-16px);
}

.item:hover .point::before {
  transform: rotate(-20deg) translate(16px, -8px);
}