@use '@variables' as var;

@media only screen and (max-width: 768px) {
  .dots {
    top: 32vh;
    right: 10%;
    width: 7.5rem;
    height: 7.5rem;
    gap: 4px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}
