@use "@variables" as var;

@media only screen and (max-width: 600px) {

  .cross-line {
    width: 24px;
    height: 8px;

    @keyframes extending-line-h {
      100% {
        height: calc(100vh - 200px);
      }
    }

    &-long {
      top: 192px;
      right: 30px;
    }

    &-red {
      @extend .cross-line;
    }
  }

  .corner-top-left {
    left: 8px;
    top: 16px;

    @keyframes left-H {
      100% {
        width: 24px;
      }
    }

    @keyframes left-V {
      100% {
        height: 24px;
      }
    }

    &-H {
      @extend .corner-top-left;
    }

    &-V {
      @extend .corner-top-left;
    }
  }

  .cross-lines {
    &-left {
      @extend .cross-lines;
      left: 8px;
      top: 40px;
    }

    &-right {
      @extend .cross-lines;
      right: 8px;
      top: 16px;
    }
  }

  .corner-bottom-left {
    left: 8px;
    bottom: -16px;

    &-path {
      d: path("M152 120 H56 L1.28 72 V0");
    }
  }

  .dotted-line {
    bottom: 144px;
    left: 8px;
  }

  .top-left {
    top: 16px;
    left: 56px;
  }
}