@use "@variables" as var;

.corner-top-left {
  position: fixed;
  top: 80px;
  left: 80px;

  @keyframes left-H {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }

  @keyframes left-V {
    0% {
      height: 0;
    }
    100% {
      height: 30px;
    }
  }

  &-H {
    @extend .corner-top-left;
    width: 30px;
    height: 3px;
    background-color: var.$grey;
    animation: left-H 0.25s ease-out forwards;
  }

  &-V {
    @extend .corner-top-left;
    width: 3px;
    height: 30px;
    background-color: var.$grey;
    animation: left-V 0.25s ease-out forwards;
  }
}

@keyframes extending-line-w {
  0% {
    width: 0;
  }
  100% {
    width: 145px;
  }
}

.top-left {
  position: fixed;
  top: 80px;
  left: 175px;
  width: 0;
  height: 3px;
  background-color: var.$grey;
  animation: extending-line-w 0.7s cubic-bezier(.21, .52, .19, .83) forwards;
  -webkit-animation: extending-line-w 0.7s cubic-bezier(.21, .52, .19, .83) forwards;
  -o-animation: extending-line-w 0.7s cubic-bezier(.21, .52, .19, .83) forwards;
  -moz-animation: extending-line-w 0.7s cubic-bezier(.21, .52, .19, .83) forwards;
}

.cross-lines {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &-left {
    @extend .cross-lines;
    top: 100px;
    left: 80px;
  }

  &-right {
    @extend .cross-lines;
    top: 100px;
    right: 80px;
  }
}

.cross-line {
  width: 35px;
  height: 10px;
  background-color: var.$grey;
  transform: skewY(-45deg);

  @keyframes fading {
    0% {
      opacity: 0.05;
    }
    100% {
      opacity: 1;
    }
  }

  &-red {
    @extend .cross-line;
    background-color: var.$red;
    animation: fading 0.1s ease-out forwards;
    -webkit-animation: fading 0.1s ease-out forwards;
    -o-animation: fading 0.1s ease-out forwards;
    -moz-animation: fading 0.1s ease-out forwards;
  }

  @keyframes extending-line-h {
    0% {
      height: 0;
    }
    100% {
      height: calc(100vh - 370px);
    }
  }

  &-long {
    position: fixed;
    top: 300px;
    right: 112px;
    width: 3px;
    height: 0;
    animation: extending-line-h 1s cubic-bezier(.21, .52, .19, .83) forwards;
    -webkit-animation: extending-line-h 1s cubic-bezier(.21, .52, .19, .83) forwards;
    -o-animation: extending-line-h 1s cubic-bezier(.21, .52, .19, .83) forwards;
    -moz-animation: extending-line-h 1s cubic-bezier(.21, .52, .19, .83) forwards;
    transform-origin: top;
    background-color: var.$grey;
  }
}

.corner-bottom-left {
  position: fixed;
  bottom: 50px;
  left: 80px;

  @keyframes dash {
    0% {
      stroke-dashoffset: 250;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  &-path {
    stroke-width: 3px;
    stroke: var.$grey;
    d: path("M152 119.5 H51 L2 70 V0");
    stroke-dasharray: 250;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.3s linear backwards;
    -o-animation: dash 1.3s linear backwards;
    -moz-animation: dash 1.3s linear backwards;
    animation: dash 1.3s linear backwards;
  }
}

.svg {
  fill: none;
}

@keyframes extending-line-dot {
  0% {
    height: 0;
  }
  100% {
    height: 5vh;
  }
}

.dotted-line {
  position: fixed;
  bottom: 210px;
  left: 81px;
  width: 3px;
  height: 5vh;
  border-left: var.$grey 3px dotted;
  animation: extending-line-dot 1s ease-out forwards;
  -webkit-animation: extending-line-dot 1s ease-out forwards;
  -o-animation: extending-line-dot 1s ease-out forwards;
  -moz-animation: extending-line-dot 1s ease-out forwards;
}