@use "@variables" as var;

.corner-top-left {
  position: fixed;
  top: 80px;
  left: 80px;

  &-H {
    @extend .corner-top-left;
    width: 30px;
    height: 3px;
    background-color: var.$grey;
  }

  &-V {
    @extend .corner-top-left;
    width: 3px;
    height: 30px;
    background-color: var.$grey;
  }
}

.top-left {
  position: fixed;
  top: 80px;
  left: 175px;
  width: 145px;
  height: 3px;
  background-color: var.$grey;
}

.cross-lines {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &-left {
    @extend .cross-lines;
    top: 100px;
    left: 80px;
  }

  &-right {
    @extend .cross-lines;
    top: 100px;
    right: 80px;
  }
}

@keyframes extending-line {
  0% {
    height: 0;
  }
  100% {
    height: calc(100vh - 380px);
  }
}

.cross-line {
  width: 35px;
  height: 10px;
  background-color: var.$grey;
  transform: skewY(-45deg);

  &-red {
    @extend .cross-line;
    background-color: var.$red;
  }

  &-long {
    position: fixed;
    top: 300px;
    right: 112px;
    width: 3px;
    height: 0;
    animation: extending-line 2s ease-in-out forwards;
    transform-origin: top;
    background-color: var.$grey;
  }
}

.corner-bottom-left {
  position: fixed;
  bottom: 50px;
  left: 80px;
}

.svg {
  fill: none;
}

.path {
  stroke-width: 3px;
  stroke: var.$grey;
  d: path("M2 0V70.2468L51.1803 119.5H152")
}

.dotted-line {
  position: fixed;
  bottom: 210px;
  left: 81px;
  width: 3px;
  height: 5vh;
  border-left: var.$grey 3px dotted;
}