@use "@variables" as var;

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 68px;
  text-align: start;

}

#box {
  width: 320px;
  height: 320px;
  position: absolute;

  &-grey {
    @extend #box;
    background-color: rgba(var.$grey, 0.3);
    left: 1458px;
    top: 180px;
  }

  &-blue {
    @extend #box;
    background-color: rgba(var.$sky, 0.1);
    left: 1364px;
    top: 269px;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 180px;
}

.items {
  margin-top: 300px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



