@use '@variables' as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

*:-webkit-scrollbar {
  display: none;
}

html,
body {
  background-color: var.$bg;
  height: 100%;
  width: 100%;
  display: flex;
  // flex-direction: column;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  font-family: 'Aldrich', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var.$dark-grey;
}

#app {
  height: inherit;
  width: 100%;
  // margin: 0 240px;
  padding: 96px 240px;
  max-width: 1652px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var.$bg;
}

@media only screen and (max-width: 1200px) {
  #app {
    padding: 96px 120px;
  }
}

@media only screen and (max-width: 600px) {
  #app {
    padding: 16px 32px;
  }
}