@use '@variables' as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var.$bg;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#root {
  height: 100%;
  width: 100%;
  padding: 0 0;
  margin: 0 240px;
  padding: 96px 0;
  max-width: 1152px;
  text-align: center;
  font-family: 'Aldrich', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var.$dark-grey;
}

@media only screen and (max-width: 1200px) {
  #root {
    margin: 0 120px;
  }
}

@media only screen and (max-width: 600px) {
  #root {
    margin: 0 32px;
    padding: 16px 0;
  }
}
